{% extends 'home.html.twig' %}

{% block title %} Modifier l'article {{ article.id }} 🖊️{% endblock %}

{% block maincontent %}

    <div class="container mt-4">

        <h1 class="mb-4"> Modifier l'article {{ article.id }} 🖊️</h1>
        
        {{ form_start(form) }}

            <div class="mb-3">
                {{ form_label(form.titre, 'Titre de l\'article') }}
                {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.texte, 'Contenu de l\'article') }}
                {{ form_widget(form.texte, {'attr': {'class': 'form-control', 'rows': '5'}}) }}
            </div>

            <div class="mb-3 form-check">
                {{ form_widget(form.publie, {'attr': {'class': 'form-check-input'}}) }}
                {{ form_label(form.publie, 'Publié ?', {'attr': {'class': 'form-check-label'}}) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.date, 'Date de publication') }}
                {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
            </div>

            <button type="submit" class="btn btn-primary">Enregistrer l'article</button>
            
        {{ form_end(form) }}

    </div>
{% endblock %}
